################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/publish
/deploy
/bin
bin/*
/obj
obj/*

repository/bin/*
repository/obj/*
repository/logs/*
repository/.vs

reporting/bin/*
reporting/obj/*
reporting/logs/*
reporting/.vs

/.vs
*.zip
*.bak
*.log
*.xls




